spring:
  kafka:
    bootstrap-servers: kafka:9092
    consumer:
      properties:
        retry.backoff.ms: 3000
        reconnect.backoff.ms: 3000
  datasource:
    url: jdbc:postgresql://postgres:5432/notificationdb
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  data:
    redis:
      host: redis
      port: 6379
      timeout: 10s

server:
  port: 8080

management:
  health:
    redis:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health,metrics,prometheus
  endpoint:
    health:
      show-details: always
